<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake E-commerce</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <header>
        <div class="topbar">
            <div class="topbar_details">
                <a href="#" class="topbar_element"><i class="geolocation"></i>Find A Location</a>
                <a href="#" class="topbar_element"><i class="phone"></i>+01234567890</a>
                <a href="#" class="topbar_element"><i class="mail"></i>Example@gmail.com</a>
            </div>
            <div class="social_icons">
                <a href="#" class="topbar_icon"><i class="facebook"></i></a>
                <a href="#" class="topbar_icon"><i class="twitter"></i></a>
                <a href="#" class="topbar_icon"><i class="instagram"></i></a>
                <a href="#" class="topbar_icon"><i class="linkedin"></i></a>
            </div>
        </div>
        <h1 class="fake_commerce_title">Fakecrafters.com</h1>
        <nav>
            <a href="/plp">Prodotti</a>
            <a href="/cart">Carrello</a>
            {{#if isAuthenticated}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}        </nav>
    </header>
    <main>
        {{{body}}}
    </main>    
    <footer>
        <div class="footer_section">
            <h4>Terapia</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem impedit eos autem dolores laudantium quia, qui similique
            </p>
            <div class="d-flex align-items-center">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer_section">
            <h4>Quick Links</h4>
            <a href=""><i class="fas fa-angle-right me-2"></i> About Us</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Contact Us</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Privacy Policy</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Terms &amp; Conditions</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Our Blog &amp; News</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Our Team</a>
        </div>
        <div class="footer_section">
            <h4>Terapia Services</h4>
            <a href=""><i class="fas fa-angle-right me-2"></i> All Services</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Physiotherapy</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Diagnostics</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Manual Therapy</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Massage Therapy</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Rehabilitation</a>
        </div>
        <div class="footer_section">
            <h4>Contact Info</h4>
            <a href=""><i class="fa fa-map-marker-alt me-2"></i> 123 Street, New York, USA</a>
            <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
            <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
            <a href=""><i class="fas fa-phone me-2"></i> +012 345 67890</a>
            <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +012 345 67890</a>
        </div>
    </footer>
</body>
</html>
