<h1>Login</h1>
<form hx-post="/login" hx-target="#login-feedback">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
</form>
<div id="login-feedback"></div>
