<h1>Product List</h1>
<div id="product-list">
</div>

<div 
    hx-get="/items?offset=0" 
    hx-target="#product-list" 
    hx-trigger="revealed"
    hx-swap="beforeend">
    Loading more products...
</div>
