* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

header {
    .topbar {
        width: 100%;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        background-color: #192c50;

        .topbar_details{
            display: flex;
            width: fit-content;
            gap: 40px;

            .topbar_element{
                text-decoration: none;
                color: white;
                position: relative;
                gap: 15px;
                display: flex;
                align-items: center;
            }
                left: 20px;

            i{
                left: -24px;
                top: 4px;
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-size: cover;
                filter: invert(1);

                &.geolocation{
                    background-image: url('../images/location.svg');
                }
                &.phone{
                    background-image: url('../images/phone.svg');
                }
                &.mail{
                    background-image: url('../images/mail.svg');
                }
            }
        }
    }

    .social_icons {
        display: flex;
        width: fit-content;
        gap: 10px;

        .topbar_icon{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: white;
            position: relative;
            
            i{
                left: 4px;
                top: 4px;
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-size: cover;

                &.facebook{
                    background-image: url('../images/facebook.svg');
                }
                &.twitter{
                    background-image: url('../images/twitter.svg');
                }
                &.instagram{
                    background-image: url('../images/instagram.svg');
                }
                &.linkedin{
                    background-image: url('../images/linkedin.svg');
                }
            }
        }
    }

    .fake_commerce_title{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        gap: 10px;
        background-color: #f6f6f6;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            color: #192c50;
            font-size: 18px;
            position: relative;
        }

        a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: transparent;
            transition: background-color 0.3s ease;
        }
        
        a:hover::after {
            background-color: #000;
        }
    }
}

main {
    padding: 3rem;
}

footer {
    background-color: #557B92;
    display: flex;
    gap: 20px;
    /* position: sticky; */
    bottom: 0;

    .footer_section{
        padding: 20px;

        h4 {
            color: white;
        }

        a, p {
            color: white;

            &:hover{
                text-decoration: none;
            }
        }

    }
}


/*PLP*/

#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

    .product {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        img {
            max-width: 100%;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        
         h2 {
            font-size: 1.2rem;
            margin: 10px 0;
        }
        
        p {
            font-size: 0.9rem;
            color: #666;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }
    

}