* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

.htmx-indicator.htmx-request {
    border: 4px solid white;
    border-top: 4px solid #557B92;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header {
    .topbar {
        width: 100%;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        background-color: #192c50;

        .topbar_details{
            display: flex;
            width: fit-content;
            gap: 40px;

            .topbar_element{
                text-decoration: none;
                color: white;
                position: relative;
                gap: 15px;
                display: flex;
                align-items: center;
            }
                left: 20px;

            i{
                left: -24px;
                top: 4px;
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-size: cover;
                filter: invert(1);

                &.geolocation{
                    background-image: url('../images/location.svg');
                }
                &.phone{
                    background-image: url('../images/phone.svg');
                }
                &.mail{
                    background-image: url('../images/mail.svg');
                }
            }
        }
    }

    .social_icons {
        display: flex;
        width: fit-content;
        gap: 10px;

        .topbar_icon{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: white;
            position: relative;
            
            i{
                left: 4px;
                top: 4px;
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-size: cover;

                &.facebook{
                    background-image: url('../images/facebook.svg');
                }
                &.twitter{
                    background-image: url('../images/twitter.svg');
                }
                &.instagram{
                    background-image: url('../images/instagram.svg');
                }
                &.linkedin{
                    background-image: url('../images/linkedin.svg');
                }
            }
        }
    }

    .fake_commerce_title{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        gap: 10px;
        background-color: #f6f6f6;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            color: #192c50;
            font-size: 18px;
            position: relative;
        }

        a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: transparent;
            transition: background-color 0.3s ease;
        }
        
        a:hover::after {
            background-color: #000;
        }
    }
}

main {
    padding: 3rem;
}

footer {
    background-color: #557B92;
    display: flex;
    gap: 20px;
    bottom: 0;

    .footer_section{
        padding: 20px;

        h4 {
            color: white;
        }

        a, p {
            color: white;

            &:hover{
                text-decoration: none;
            }
        }

    }
}


/* LOGIN */
form#loginform {
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #557B92;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        color: white;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        transition: border-color 0.3s, box-shadow 0.3s;

        &:focus {
            border-color: #007BFF;
            box-shadow: 0 2px 6px rgba(0, 123, 255, 0.3);
        }
    }
    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #007BFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
    
        &:hover {
            background-color: #0056b3;
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
        }
    }
}

/*PLP*/
.searchbar_wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.searchbar {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-color: #007BFF;
        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    }
}

#product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 20px;

    .product {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        max-width: 300px; /* Regola la larghezza */
        margin: 0 auto;
    }
    
    .product:hover {
        transform: scale(1.02);
    }
    
    .image-container {
        position: relative;
        width: 100%;
        aspect-ratio: 4/3; /* Mantiene proporzioni standard */
        overflow: hidden;
    }
    
    .image-container img {
        width: 100%;
        object-fit: contain; /* Mostra l'intera immagine senza tagliarla */
        background-color: #f9f9f9;
    }
    
    .image-container h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 8px;
        font-size: 1rem;
        text-align: center;
    }
    
    .content {
        padding: 16px;
        background: #fff;
    }
    
    .content p {
        font-size: 0.9rem;
        color: #666;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
    }    
    
    .load_more_button_wrapper {
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        grid-column: span 4;

        .load-more-button {
            display: inline-block;
            padding: 15px 30px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background-color: #557B92;
            border: none;
            border-radius: 25px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Effetto tridimensionale */
            cursor: pointer;
            text-align: center;
        }
        
        .load-more-button:hover {
            background-image: linear-gradient(145deg, #0056b3, #003f8c); /* Colori più scuri all'hover */
            transform: translateY(-2px); /* Leggero sollevamento */
        }
    }
}



/* Modal Overlay */
#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &.open {
        display: flex;
    }
    /* Product Detail Modal */
    .product-detail {
        background-color: #fff;
        padding: 20px;
        max-width: 800px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        gap: 20px;
    }

    .product-detail .product-image {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .product-detail .product-image img {
        max-width: 100%;
        border-radius: 10px;
    }

    .product-detail .product-info {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-detail h1 {
        color: #192c50;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .product-detail .details p {
        font-size: 1rem;
        margin-bottom: 10px;
        color: #666;
    }

    .product-detail .add-to-cart {
        margin-top: 20px;
        text-align: center;
    }

    .product-detail .add-to-cart button {
        padding: 12px 25px;
        background-color: #557B92;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .product-detail .add-to-cart button:hover {
        background-color: #003f8c;
    }

    /* Close Button */
    .close {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 50px;
        cursor: pointer;
    }

    .close-button:hover {
        color: #ff5555;
    }
}



/*CART*/

/* Contenitore principale */
.cart-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sezione articoli */
.cart-items {
    flex: 2;
    margin-right: 20px;
}

.cart-item-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .product-details{
        h1{
            width: 100%;
        }

        .details-wrapper{
            display: flex;
            gap: 40px;

            img {
                max-height: 200px;
            }
    
            .recap-info {
                display: flex;
                flex-direction: column;

                button {
                    display: block;
                    width: 200px;
                    padding: 12px;
                    background: #007bff;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: background 0.3s ease;
                }
            }
        }
    }
}

.cart-item-card h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: #333;
}

.cart-item-card p {
    margin: 5px 0;
    color: #555;
}

/* Messaggio carrello vuoto */
.empty-message {
    font-size: 18px;
    color: #999;
    text-align: center;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Sezione riepilogo */
.cart-summary {
    flex: 1;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    height: fit-content;
    position: sticky;
    top: 0;
}

.cart-summary h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
}

.cart-summary p {
    margin: 10px 0;
    color: #555;
}

.checkout-button {
    display: block;
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.checkout-button:hover {
    background: #0056b3;
}
